%block {
    background-color: #171f23;
    color: #f6f6f6;
    padding-top: 4rem;
    text-align: center;
}

%block-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
}

%block-underline {
    height: 2px;
    width: 85px;
    margin: 0 auto;
    background-color: #404040;
}

%block-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4rem;
}

.social {   
    padding-bottom: 5rem;
    margin: auto;

    @for $i from 1 through 3 {
        .social-icon-#{$i} {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('../assets/img/social-#{$i}.svg');
            background-size: cover;
            cursor: pointer;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

    @for $i from 1 to 3 {
        .social-icon-#{$i} {
            margin-right: 10px;
        }
    }
    
}

/* slider */

.slider {
    height: 85vh;
    position: relative;
    
    .pause {
        display: none;
    }

    .slides {
        position: relative;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            color: #d6d5d5;
            text-transform: uppercase;
            font-size: 4.5rem;
            opacity: 0;
            z-index: 1;
            transition: opacity 1s;

            &:nth-of-type(1) {
                background: #353535;
            }
    
            &:nth-of-type(2) {
                background: #6e3d3d;
            }
    
            &:nth-of-type(3) {
                background: #e19a9a;
            }

            .sub-title {
                font-size: 2.5rem;
                line-height: 2;
            }
        }
   
        .showing {
            opacity: 1;
            z-index: 2;
        }
    }

    .controls {
        display: none;
        cursor: pointer;
    }

    #previous {
        position: absolute;
        top: 50%;
        left: 5%;
        background: url('../assets/img/previous.svg') no-repeat;
        width: 30px;
        height: 50px;
        z-index: 3;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    #next {
        position: absolute;
        top: 50%;
        right: 5%;
        background: url('../assets/img/next.svg') no-repeat;
        width: 30px;
        height: 50px;
        z-index: 3;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .scroll {
        display: block;
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
        z-index: 10;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.8;
        color: #fff;
        text-transform: uppercase;
        line-height: 2;
    }
    
    .scroll-btn {
        background: url('../assets/img/mouse.svg') no-repeat;
        width: 30px;
        height: 40px;
        margin: 0 auto;
        
    }
}

/* about us */

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #ebebeb;
        width: 30%;
        min-width: 250px;
        padding: 2rem 2.1rem 1.5rem;
        margin-bottom: 1rem;
        text-align: center;

        @for $i from 1 through 3 {

            .item-icon-#{$i} {
                background: url('../assets/img/icon#{$i}.svg');
                background-size: cover;
                width: 50px;
                height: 50px;
            }
        
        }
        
    }

    &__title {
        padding: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #707070;
        font-size: 1.1rem;
    }

    &__text {
        color: #707070; 
        width: 90%;       
    }
}

/* video */

.video {
    background-color: #171f23;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
            
    &__content {
        width: 50%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;        
    }

    &__title {
        font-weight: 700;
        font-size: 2rem;
        color: #e7e7e7;
        width: 80%;
    }

    &__text {
        width: 80%;
        padding: 2rem 0;
    }

    &__btn {
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        padding: 0.8rem 2rem;
        background-color: #e84c3d;
        color: #ebebeb;
        font-weight: 700;
        outline: none;
        &:hover {
            background-color: #b11000;
        }
    }

    &__section {
        
        width: 50%;
        min-width: 250px;

        .video-container {
            height: 0;
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }     
    }
}

/* portfolio */

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;

    .portfolio-btn {
        color: #3d3d3d;
        text-transform: uppercase;
        font-weight: 300;
        border-bottom: 1px solid transparent;

        &:hover {
            font-weight: 700;
            border-bottom: 1px solid #e84c3d;
        }
    }

}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @for $i from 1 through 15 {

        &__item-#{$i} {
            background: url('../assets/img/portfolio-item-#{$i}.jpg');
            background-size: cover;
            width: 250px;
            height: 170px;
            margin-bottom: 0.5rem;
        }
    }

    a {
        display: block;
    }
}

/* clients */

.clients-bg {
    background-color: #1c1c1c;
    padding: 5rem 1rem;
    
    .flexslider {
        position: relative;

        .slides {
            padding: 0 10%;  
        }

    }
}

/* team */

#slider-team {

    margin-bottom: 7rem;

    li.team {
        display: flex !important;
        justify-content: space-between;
        margin: auto;

        .member {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            width: 30%;
            padding: 5% 0;
            text-align: center;
            background-color: #ebebeb;
            
            @for $i from 1 through 3 {
                .member__image-#{$i} {
                width: 140px;
                height: 140px;
                background: url('../assets/img/member#{$i}.jpg') center center no-repeat;
                background-size: cover;
                border-radius: 50%;
                }
            }

            &__name {
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                color: #3d3d3d;
                padding: 5% 0;
                margin: auto;

                .name {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

                .prof {
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
        }    
    }

    .skills {
        display: inline-flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 7rem 5rem;
        width: 68%;
        background-color: #ebebeb;

        &__title {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            color: #3d3d3d;
            font-size: 1.7rem;
        }

        &__subtitle {
            color: #858383;
            padding: 1.5rem 0 2rem;
        }

        &__items {
            text-transform: uppercase;
            font-weight: 700;
            color: #3d3d3d;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .skill-name {
                width: 22%;
            }
            .skill-progress {
                height: 1px;
                width: 63%;
                background-color: #fff;
            }

            .progress-1, .progress-2, .progress-3, .progress-4 {
                background-color: #e84c3d;
                height: 1px;
            }

            .progress-1 {
                width: 88%;
            }

            .progress-2 {
                width: 92%;
            }

            .progress-3 {
                width: 90%;
            }

            .progress-4 {
                width: 98%;
            }

            .skill-rate {
                width: 5%;
            }
        }
    }

    .flex-direction-nav {
        display: none !important;
    }

    .flex-control-nav {
        display: block;
        width: 20% !important;
    }
}

/* features */

.features {
    @extend %block;

    &__title {
        @extend %block-title;
    }

    &__underline {
        @extend %block-underline;
    }

    &__content {
        @extend %block-content;
        justify-content: space-around;
    }

    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 250px;
        margin-bottom: 4rem;
        font-weight: 100;
    }

    @for $i from 1 through 4 {
         &__icon-#{$i} {
             background: url('../assets/img/feature-icon-#{$i}.svg') no-repeat;
             background-size: cover;
             width: 60px;
             height: 60px;            
        }
    }

    &__name {
        padding: 1.5rem 0;
        text-transform: capitalize;
        font-size: 1.2rem;  
    }

    &__count {
        font-size: 2.5rem;
    }    
}

/* blog posts */

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: auto;
    
    &__item {
        width: 320px;
        background-color: #ebebeb;
        margin-bottom: 7rem;
    }

    &__wrap {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 220px;
        cursor: pointer;

        &:hover .blogs__overlay {
           display: block;
        }
        &:hover .blogs__btn {
           opacity: 1;
           animation: appear 1.5s;

           .btn-bg:hover {
                background-color: #e87e5d;
                @for $i from 1 through 2 {
                    .btn-blog-#{$i} {
                        background: url('../assets/img/btn-hover-#{$i}.svg') center center no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }

    &__btn {
        position: absolute;
        top: 40%;
        left: 33%;
        opacity: 0;
        width: 35%;
        display: flex;
        justify-content: space-between;

        .btn-bg {   
            width: 45px;
            height: 45px;
            background-color: #f6e5e0;
            border-radius: 50%;
            margin-right: 7%;  
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
    
            @for $i from 1 through 2 {
                .btn-blog-#{$i} {
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: url('../assets/img/btn-#{$i}.svg') center center no-repeat;
                    background-size: cover;
                }
            }
        }
                   
    }

    @for $i from 1 through 3 {
        &__image-#{$i} {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../assets/img/blog-#{$i}.jpg') center center no-repeat;
        background-size: cover;
        }
    }


    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: url('../assets/img/blog-1.jpg') center center no-repeat;
        background-size: cover;
        filter: blur(5px) contrast(.5) brightness(.5);
    }

    @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
            
    }

    &__content {
        padding: 1.5rem 1.2rem 1.2rem;
    }

    &__title {
        color: #505050;
        text-transform: capitalize;
        font-size: 1.2rem;
    }

    &__text {
        padding: 1.3rem 0;
        font-weight: 100;
        color: #797979;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        color: #8a8989;

        @for $i from 1 to 3 {
            .info-item-#{$i} {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
            }
        }

        @for $i from 1 through 3 {
            .info-icon-#{$i} {
                width: 12px;
                height: 12px;
                background: url('../assets/img/blog-icon-#{$i}.svg') center center no-repeat;
                background-size: cover;
            }
        }  
    }
}

/* choose plan */

.pricing {
    @extend %block;

    &__title {
        @extend %block-title;
    }

    &__underline {
        @extend %block-underline;
    }

    &__content {
        @extend %block-content;
        justify-content: center;
    }

    &__item {
        width: 230px;
        background-color: #1f282c;
        color: #fff;
        padding-bottom: 2.5rem;
        margin-bottom: 5rem;
        border: 1px solid #171f23;
        &:hover {
            cursor: pointer;
            border: 1px solid #f6744b;
            .count {
                color: #f6744b;
            }
        }

        .item-head {
            background-color: #0e1316;
            padding: 2.5rem 3.5rem;
            .plan-name {
                font-weight: 700;
                text-transform: uppercase;
            }
            .plan-cost {
                font-weight: 100;
                text-transform: capitalize;
                font-size: 2.5rem;
                .currency {
                    font-size: 1.7rem;
                }
            }
        }

        .item-content {
            padding: 2.5rem 3.5rem;

            .offer {
                display: flex;
                justify-content: center;
                padding-bottom: 1rem;
                .count {
                    padding-right: 0.5rem;
                    font-weight: 700;
                }
                .text {
                    font-weight: 100;
                    text-transform: capitalize;
                }
            }
        }

        .item-btn {
            width: 125px;
            height: 35px;
            text-transform: uppercase;
            background-color: #f6744b;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-weight: 700;
            outline: none;
            &:hover {
                cursor: pointer;
                background-color: #b11000;
            }
        }
    }
}

/* contact */

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    .star {
        color: #f6744b;
    }
    .form-item {
        border: none;
        border-bottom: 1px solid #cacaca;
        outline: none;
        padding: 1rem 0 0.5rem;
    }

    &__item {
        width: 49%;
        min-width: 200px;
        margin-bottom: 1rem;
        input {
            width: 100%;
        }   
    }

    &__item-message {
        width: 100%;
        textarea {
            width: 100%;
            resize: none;
        }
    }

    &__btn {
        width: 200px;
        height: 50px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background-color: #f6744b;
        outline: none;
        border: none;
        margin: 3rem 0 5rem;
        &:hover {
            cursor: pointer;
            background-color: #b11000;
        }
    }
}

