/* footer */

.footer {
    background-color: #171f23;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;

    &__top {
        background-color: #0c1215;
        padding: 1.5rem 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        .location {
            display: inline-block;
            outline: none;
            border: none;
            margin-left: 0.5rem;
            width: 20px;
            height: 15px;
            background: url('../assets/img/down-arrow.svg') center center no-repeat;
            background-size: cover;
            &:hover {
                cursor: pointer;
            }
        }
        .google-map {
            width: 100%;
            display: none;
        }
    }

    &__bottom {
        padding: 2.5rem 0;
        font-family: 'Oswald', sans-serif;
    }

    &__production {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        padding: 1rem 0;
    }

    .social {
        padding: 0;

        @for $i from 1 through 3 {
            .social-icon-#{$i} {
                background: url('../assets/img/social-footer-#{$i}.svg');
                background-size: cover;
            }
        }

    }
}