/* header */

.header-bg {
    background-color: #f8f6f6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    
    &__logo {
        display: flex;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 0.7rem;
    }

    &__text {
        margin-left: 1rem;
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
    }   
    &__menu-item {
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        color: #3d3d3d;
        font-size: 0.9rem;
        transition: 0.2s ease-out;
        padding-bottom: 0.7rem;
        margin-left: 1.5rem;
        border-bottom: 1px solid transparent;
        &:hover {
            color: #f4511e;
            border-bottom: 1px solid #f4511e;
            padding-bottom: 0.3rem;
            outline: none;
        }
    }
}
    
    .navBurger {
        display: none;
        cursor: pointer;
        background: #111;
        box-sizing: border-box;
        background-clip: content-box;
        width: 30px;
        height: 24px;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        transform: rotate(0deg);
        transition: all 0.25s ease-in-out;
        z-index: 99999;
    }
    .navBurger:before, .navBurger:after {
        content: "";
        position: absolute;
        background: #111;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        transform: rotate(0deg);
        transition: all 0.5s ease;
      }
      .navBurger:before {
        top: -10px;
      }
      .navBurger:after {
        bottom: -10px;
      }
      .navBurger.active {
        background: transparent;
        background-clip: content-box;
      }
      .navBurger.active:before {
        transform: rotate(135deg);
        top: 0;
        background: #eee;
      }
      .navBurger.active:after {
        bottom: 0;
        transform: rotate(-135deg);
        background: #eee;
      }

      .overlay {
        position: fixed;
        background: #2a3140;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform-origin: right top;
        transform: scale(0);
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        }

        .overlay.open {
            z-index: 99999;
            opacity: 0.99;
            visibility: visible;
            transform: scale(1);
          }
          .overlay.open .menu-item {
            display: block; 
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
            animation-delay: 0.4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
          }
          .overlay.open .menu-item:nth-of-type(2) {
                    animation-delay: 0.5s;
          }
          .overlay.open .menu-item:nth-of-type(3) {
                    animation-delay: 0.6s;
          }
          .overlay.open .menu-item:nth-of-type(4) {
                    animation-delay: 0.7s;
          }
          .overlay.open .menu-item:nth-of-type(5) {
                    animation-delay: 0.8s;
          }
        
          .overlay.open .menu-item:nth-of-type(6) {
                    animation-delay: 0.9s;
          }
        
          .overlay.open .menu-item:nth-of-type(7) {
                    animation-delay: 1s;
          }
          .overlay.open .menu-item:nth-of-type(8) {
                    animation-delay: 1.1s;
        }
          
          .overlayMenu {
            position: absolute;
            text-align: right;
            right: 10vw;
            bottom: 10vw;
          }
          
      .overlayMenu .menu {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 100%;
        
      }
      .overlayMenu .menu .menu-item {
        display: block;
        position: relative;
        opacity: 0;
        width: 100%;        
      }
      .overlayMenu .menu .menu-item a {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.09);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        transition: 0.2s;
      }
      .overlayMenu .menu .menu-item a:hover, .overlayMenu .menu .menu-item a:active, .overlayMenu .menu .menu-item a:focus {
        transform: translateX(-2px);
        padding-left: 80px;
        outline: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.03);
        
      }
      
      .locked {
        overflow: hidden;
      }      
            
      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 50px;
        }
        100% {
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
        }
      }
    
    