/* mixins */

@mixin fontMain ($color: #696969) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	line-height: 1.2;
	color: $color;
}

@mixin overlayPadding {
	padding-bottom: 5rem;
}

@mixin blockHeading {
	padding: 5rem 0;
    margin: 0 auto;
    text-align: center;
    width: 55%;
}

@mixin blockHeadingTitle {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
	color: #3d3d3d;
	padding-bottom: 0.5rem;

}

@mixin blockHeadingUnderline {
	margin: 0 auto;
	background-color: #f4511e;
	width: 140px;
	height: 2px;
}

@mixin blockHeadingSubitle {
	padding-top: 1.5rem;
}

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;


/* main styles */
* {
	font-size: 14px;
}

body {
	@include fontMain;
	width: 100%;
}

.wrapper {
	padding: 0 5%;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

.flexible {
	max-width: 100%;
}

/* section-overlay */

.section-overlay {
	@include overlayPadding;
}


/* heading */

.heading {
	@include blockHeading;

    &__title {
         @include blockHeadingTitle;
	}

	&__underline {
		@include blockHeadingUnderline;
	}
	
	&__subtitle {
		@include blockHeadingSubitle;
	}
}

/* media queries */

@media all and (max-width: 575px) {
	.header {
		&__menu {
			display: none;
		}
		.navBurger {
			display: block;
		}
		&__logo {
			font-size: 1.5rem;
		}	
	}
	.slider {
		height: 40vh;
		
		.slides {
			.slide {
				font-size: 1rem;
				.sub-title {
					font-size: 1rem;
				}
			}
		}
		.scroll {
			display: none;
		}	
	}
	.section-overlay {
		padding-bottom: 2rem;
	}
	.heading {
		padding: 2rem 0;
		width: 80%;
		&__title {
			font-size: 2rem;
		}
		&__underline {
			width: 110px;
		}
	}
	.video {
		&__title {
			font-size: 1.5rem;
			padding: 1rem 0;
		}
		&__btn {
			margin: 1rem 0;
		}
	}
	.buttons {
		padding-bottom: 1rem;
		.portfolio-btn {
			padding: 0 0.5rem 0.5rem 0;
		}
		
	}
	#slider-clients {
		.flex-direction-nav a {
			margin: -20px -20px 0;
		}
	}
	#slider-team {
		margin-bottom: 2rem;
		li.team {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0;
			.member {
				width: 90%;
			}
		}
		.skills {
			width: 90%;
			padding: 1rem 0.5rem;
			&__head {
				text-align: center;
			}
			&__item {
				justify-content: space-around;
			}
			.skill-name {
				width: 30%;
				font-size: 0.7rem;
            }
            .skill-progress {
                height: 1px;
                width: 30%;
                background-color: #fff;
			}
			.skill-rate {
                width: 10%;
            }

			
		}
		.flex-control-nav {
			width: 40% !important;
			top: 45%;
			left: 40%;
		}
	}
	.features {
		&__title {
			font-size: 2rem;
		}
	}
	.blogs {
		&__item {
			width: 80%;
			margin-bottom: 2rem;
		}
		&__wrap {
			width: 100%;
		}
		&__info {
			@for $i from 1 to 3 {
				.info-item-#{$i} {
					width: 32%;
				}
			}
		}
	}
	.contact {
		&__item {
			width: 100%;
		}
	}
}

@media all and (min-width: 576px) and (max-width: 767px) {
	
	.header {
		&__menu {
			display: none;
		}
		.navBurger {
			display: block;
		}
		&__logo {
			font-size: 1.5rem;
		}	
	}
	.section-overlay {
		padding-bottom: 2rem;
	}
	.heading {
		padding: 2rem 0;
		width: 80%;
		&__title {
			font-size: 2rem;
		}
		&__underline {
			width: 110px;
		}
	}
	.slider {
		height: 40vh;
		
		.slides {
			.slide {
				font-size: 1rem;
				.sub-title {
					font-size: 1rem;
				}
			}
		}
		.scroll {
			display: none;
		}	
	}
	#slider-team {
		margin-bottom: 2rem;
	
		.skills {
			padding: 2rem 0.5rem;
			&__head {
				text-align: center;
			}
			&__item {
				justify-content: space-around;
			}
			.skill-name {
				width: 30%;
				font-size: 0.7rem;
            }
            .skill-progress {
                height: 1px;
                width: 30%;
                background-color: #fff;
			}
			.skill-rate {
                width: 10%;
            }

			
		}
		.flex-control-nav {
			left: 8%;
		}
	}
	.blogs {
		&__item {
			width: 48%;
			margin-bottom: 2rem;
		}
		&__wrap {
			width: 100%;
		}
		&__btn {
			width: 40%;
		}
	}
	
}

@media all and (max-width: 767px) and (orientation: landscape) {
  
	.overlayMenu {
	  right: 15vw;
	  bottom: 0;
	}
	.overlayMenu .menu .menu-item a {
		font-size: 0.8rem;
	}	
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.header__menu-item {
		font-size: 0.8rem;
	}
	.clients-bg {
				
		.flexslider {
			position: relative;
	
			.slides {
				padding: 0 4%;  
			}
	
		}
	}
	#slider-team {
	
		.skills {
			padding: 2rem 1rem;			
		}
		.flex-control-nav {
			left: 10%;
		}
	}
}

